@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ownglyph_ParkDaHyun", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  @media (max-width: 767px) {
    body {
      font-size: 1.5rem;
    }

    button {
      font-size: 1rem;
    }
  }

  @media (min-width: 768px) {
    /* 태블릿 크기 */
    body {
      font-size: 2.3rem; /* 태블릿 폰트 크기 */
    }
    button {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    /* 데스크탑 기준 */
    body {
      font-size: 3rem; /* 데스크탑 폰트 크기 */
    }

    button {
      font-size: 2rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* animation keyframes */

@keyframes pageFlip {
  0% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
  50% {
    transform: perspective(1000px) rotateY(-90deg);
    opacity: 0.8;
  }
  100% {
    transform: perspective(1000px) rotateY(-180deg);
    opacity: 0;
  }
}

.page-enter {
  animation: pageFlip 1s ease-in-out forwards;
}

/* font */

@font-face {
  font-family: "Ownglyph_ParkDaHyun";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chosunilbo_myungjo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
